header {
	font-family: Calibri;
	font-weight: bold;
	font-size: 30px;
}
p.text {
	font-family: Calibri;
	font-weight: bold;
}
#wrapper {
	text-align: center;
}
#gameOfLife {
	border: 3px solid #33842a;
}
#chartContainer {
	height: 300px;
	width: 500px;
}
#chart {
/* 	border: 3px solid #33842a; */
}
button.but {
	cursor:pointer;
	padding:5px 20px;
	background:#73BBC6;
	border:2px solid #33842a;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
	box-shadow: 0 0 4px rgba(0,0,0, .75);
	color:black;
	font-size:1.1em;
}
button.but:hover {
	background-color:#41A3B2;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
	box-shadow: 0 0 1px rgba(0,0,0, .75);
}
